

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
}

/* .container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.column {
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.pixel-canvas {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}